.container{
	display: grid;
	grid-gap: 10 px;
	grid-template-areas:
		"navigation profile"
		"cardsInfo ."	
}

.navigation{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	max-width: 100px
}

.navigation div{
	display: grid;
}

.profile{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 10px;
	max-width: 200px;
	
}

.cardsHeaderContainer{
	display: grid;
	grid-template-columns: 1fr 1fr;	
}

.addCardImage, .cardStatus{
	width: 20px
}

.cardPaymentSystem{
	width: 30px
}

.addCardImage:hover{
	background: #ababab;
}