.container{
	display: grid;
	grid-gap: 10 px;
	grid-template-columns: 1fr 1fr
	grid-template-row: 1fr 1fr 1fr
	grid-template-areas:
		"navigation profile"
		"cardsInfo ."
		"cards ."
}

.navigation{
	display: grid;
	grid-area: navigation
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: columns
	grid-gap: 10px;
	max-width: 100px
}

.navigation div{
	display: grid;
	
}

.profile{
	display: grid;
	grid-area: profile
	grid-template-columns: 2fr 1fr;
	grid-gap: 10px;
	max-width: 200px;
	
}
.cardsInfo{
	grid-area: cardsInfo;
}

.cardsHeaderContainer{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 80px 20px
}

.card{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-area:
		"cardBaseInfo balanceBlock"
}

.cardBaseInfo{
	grid-area: cardBaseInfo;
	display: inline-block;	
}

.balanceBlock{
	grid-area: balanceBlock;
	display: grid;
}



.addCardImage, .cardStatus{
	width: 20px
}

.cardPaymentSystem{
	width: 40px
}

.addCardImage:hover{
	background: #ababab;
}

